<!DOCTYPE html>
<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
  <% if flash[:success] %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% end %>
<div class="jumbotron">
  <h1 class="display-4">Gossip Project</h1>
  <p class="lead">Ceci est une réplique du projet de Zuckerberg avant Facebook. C'est le même avec exactement 20 ans de retard.</p>
  <hr class="my-4">
  <p>100% des étudiant THP utilisent ce site:</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://chat.openai.com/" role="button">Learn more</a>
  </p>
</div>
  <h1>The Gossip Project day3 v3</h1>
<!-- Container for cards with increased top margin -->
<div class="container mt-5">
  <div class="row">
    <% @gossips.each do |gossip| %>
      <div class="col-md-3 mb-3">
        <div class="card">
          <div class="card-header">Gossip n°<%= gossip.id %></div>
          <div class="card-body">
            <h5 class="card-title"><%= gossip.title %></h5>
            <p class="card-text"><i>Created by:</i> <%= link_to gossip.user.first_name, user_path(gossip.user)%></p>
            <!--<p><a href="/gossip/<%=gossip.id%>" class="btn btn-dark">Voir le potin</a></p>-->
            <p class="btn btn-light"><%= link_to "Learn More", gossip_path(gossip)%></p>
            <!-- You can add more content here if needed -->
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- Include Bootstrap JS (optional if you need Bootstrap JavaScript functionality) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>