<!DOCTYPE html>
<html>
<head>
  <title>Gossip Details</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-header">
            <h1>Gossip Details</h1>
          </div>
          <div class="card-body">
            <p><strong>Nom :</strong> <%= @gossip.user.first_name %></p>
            <p><strong>A dit :</strong> "<%= @gossip.title %> <%= @gossip.description %>"</p>
            <p><strong>Author :</strong> <%= link_to @gossip.user.first_name, user_path(@gossip.user) %></p>
            <p><strong>Author's City :</strong> <%= link_to @gossip.user.city.name, city_path(@gossip.user.city) %></p>
            <%= link_to "Edit", edit_gossip_path(@gossip), class: "btn btn-dark mr-2" %>
            <%= link_to "Supprimer", gossip_path(@gossip), method: :delete, data: { confirm: "Êtes-vous sûr ?" }, class: "btn btn-danger" %>
          </div>
        </div>
        <div class="mt-4">
          <h3>Comments</h3>
          <% @comments.each do |comment| %>
            <div class="card mb-3">
              <div class="card-header">Comment n°<%= comment.id %></div>
              <div class="card-body">
                <h5 class="card-title"><%= comment.content %></h5>
                <p class="card-text"><i>Created by:</i> <%= link_to comment.user.first_name, user_path(comment.user) %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
