<h1>City#show</h1>
<p>Find me in app/views/cities/show.html.erb</p>
<div class="container mt-5">
  <div class="row">
    <% @gossips.each do |gossip| %>
      <div class="col-md-3 mb-3">
        <div class="card">
          <div class="card-header">Gossip n°<%= gossip.id %></div>
          <div class="card-body">
            <h5 class="card-title"><%= gossip.title %></h5>
            <p class="card-text"><i>Created by:</i> <%= link_to gossip.user.first_name, user_path(gossip.user)%></p>
            <!--<p><a href="/gossip/<%=gossip.id%>" class="btn btn-dark">Voir le potin</a></p>-->
            <p class="btn btn-light"><%= link_to "Learn More", gossip_path(gossip)%></p>
            <!-- You can add more content here if needed -->
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>