<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css', integrity: 'sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk', crossorigin: 'anonymous' %>
    <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js', integrity: 'sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI', crossorigin: 'anonymous' %>
    <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js', integrity: 'sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd', crossorigin: 'anonymous' %> 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> <!--merci valentin! affichage du menu en dropdown-->
    <title>GossipsThp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to "The Gossip Project", root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Create a New Gossip", new_gossip_path , class:"nav-link" %> 
        </li>
        <li class="nav-item">
          <%= link_to "Team", team_index_path , class:"nav-link" %> 
        </li>
        <li class="nav-item">
          <%= link_to "Contact", contact_index_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", new_session_path, class:"nav-link" %>
        </li>
      </ul>
    </div>
  </nav>
<!-- Header fin navbar included-->
  </header>
    <%= yield %>
  </body>
</html>
